[submodule "bundle/arduino"]
	path = bundle/arduino
	url = https://github.com/stevearc/vim-arduino.git
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/airline"]
	path = bundle/airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "bundle/pathogen"]
	path = bundle/pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "bundle/airline-themes"]
	path = bundle/airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
[submodule "bundle/ctrlp"]
	path = bundle/ctrlp
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule "bundle/solarized"]
	path = bundle/solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/jellybeans"]
	path = bundle/jellybeans
	url = https://github.com/nanotech/jellybeans.vim.git
[submodule "bundle/vim-chef"]
	path = bundle/vim-chef
	url = https://github.com/vadv/vim-chef.git
  ignore = dirty
[submodule "bundle/awesome_themes"]
	path = bundle/awesome_themes
	url = https://github.com/rafi/awesome-vim-colorschemes.git
[submodule "bundle/Dockerfile"]
	path = bundle/Dockerfile
	url = https://github.com/ekalinin/Dockerfile.vim.git
[submodule "bundle/vim-misc"]
	path = bundle/vim-misc
	url = http://github.com/xolox/vim-misc
  ignore = dirty
[submodule "bundle/vim-lua"]
	path = bundle/vim-lua
	url = http://github.com/xolox/vim-lua-ftplugin
  ignore = dirty
[submodule "bundle/xoria256"]
	path = bundle/xoria256
	url = https://github.com/vim-scripts/xoria256.vim.git
  ignore = dirty
[submodule "bundle/openscad.git"]
	path = bundle/openscad.git
	url = https://github.com/sirtaj/vim-openscad.git
[submodule "bundle/tmux"]
	path = bundle/tmux
	url = https://github.com/tmux-plugins/vim-tmux.git
[submodule "bundle/commentary"]
	path = bundle/commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "bundle/vim-instant-markdown"]
	path = bundle/vim-instant-markdown
	url = https://github.com/instant-markdown/vim-instant-markdown.git
[submodule "bundle/surround"]
	path = bundle/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "bundle/vimwiki"]
	path = bundle/vimwiki
	url = https://github.com/vimwiki/vimwiki.git
[submodule "bundle/vim-markdown"]
	path = bundle/vim-markdown
	url = https://github.com/plasticboy/vim-markdown.git
[submodule "bundle/agit"]
	path = bundle/agit
	url = https://github.com/cohama/agit.vim.git
[submodule "bundle/vim-gitgutter"]
	path = bundle/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "bundle/deoplete"]
	path = bundle/deoplete
	url = https://github.com/Shougo/deoplete.nvim.git
[submodule "bundle/nvim-yarp"]
	path = bundle/nvim-yarp
	url = https://github.com/roxma/nvim-yarp.git
[submodule "bundle/hug-neovim-rpc"]
	path = bundle/hug-neovim-rpc
	url = https://github.com/roxma/vim-hug-neovim-rpc.git
[submodule "bundle/vim-snippets"]
	path = bundle/vim-snippets
	url = https://github.com/honza/vim-snippets.git
[submodule "bundle/neosnippet.vim"]
	path = bundle/neosnippet.vim
	url = https://github.com/Shougo/neosnippet.vim.git
[submodule "bundle/neosnippets-snippets"]
	path = bundle/neosnippets-snippets
	url = https://github.com/Shougo/neosnippet-snippets.git
[submodule "bundle/molokai"]
	path = bundle/molokai
	url = https://github.com/tomasr/molokai.git
[submodule "bundle/taskwiki"]
	path = bundle/taskwiki
	url = https://github.com/tbabej/taskwiki.git
[submodule "bundle/calendar-vim"]
	path = bundle/calendar-vim
	url = https://github.com/mattn/calendar-vim.git
[submodule "bundle/deoplete.nvim"]
	path = bundle/deoplete.nvim
	url = git@github.com:Shougo/deoplete.nvim.git
